services:
  guarder_services:
    image: gru.ocir.io/grpi1rdiczld/guarder-services:${IMAGE_TAG}
    container_name: guarder_services
    restart: always

    ports:
      - "127.0.0.1:5002:8080"

    environment:
      ASPNETCORE_ENVIRONMENT: Production

    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost/health"]
      interval: 30s
      timeout: 5s
      retries: 3

    deploy:
      resources:
        limits:
          memory: 512M
