<!DOCTYPE html>
<html>

<partial name="_Head" />

@{
    var isHome = "Home".Equals(ViewData["Title"]?.ToString(), StringComparison.OrdinalIgnoreCase);
}

<body class="@(isHome ? string.Empty : "sub_page")">
    <div class="hero_area">
        <!-- header section strats -->
        <div class="hero_bg_box">
            <div class="img-box">
                <img src="~/images/hero-bg.jpg" alt="">
            </div>
        </div>

        <partial name="_Header" />

        <!-- end header section -->
        @if (isHome)
        {
            <partial name="_Carrousel" />
        }
    </div>

    @RenderBody()

    <!-- info section -->
    <partial name="_Info" />
    <!-- end info_section -->

    <!-- footer section -->
    <footer class="container-fluid footer_section">
        <p>
            &copy; <span id="currentYear"></span> All Rights Reserved. Guarder Services</a>
        </p>
    </footer>
    <!-- footer section -->

    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/custom.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>